<!-- app/views/games/score.html.erb -->
<div class="container text-center mt-5">
  <h1>Résultat</h1>

  <p class="lead"><%= @message %></p>

  <a href="<%= new_path %>" class="btn btn-success mt-3">Nouvelle partie</a>
</div>
